* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#menu {
  margin: 2rem;
  right: 0;
  font-weight: normal;
  position: absolute;
}

#signup {
  margin: 0.6rem;
}

#nav-body {
  background-color: #8977ad;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: center;
}

#logo {
  width: 40px;
  margin-right: 1rem;
  vertical-align: middle;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal-bg-show 0.5s;
}

.login-modal {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal-show 0.5s;
  overflow: hidden;
}

.login-input {
  padding-top: 10px;
}

.login-header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}

.login-id {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-password {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.email {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 290px;
  height: 30px;
  font-size: 14px;
  border: 1px solid rgb(222, 226, 230);
}

.password {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 290px;
  height: 30px;
  font-size: 14px;
  border: 1px solid rgb(222, 226, 230);
}

.button-wrapper {
  border-top: 1px solid;
  padding: 12px 16px;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

.modal-button {
  width: 80px;
  height: 35px;
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}

.nav-buttton {
  margin: -2px 0 0 4px;
  padding: 2px 7px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 7px;
  color: #555;
  font-size: 14px;
  cursor: pointer;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
a:link {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(255, 255, 255);
}
a:active {
  color: rgb(255, 255, 255);
}
